<html>
        <head>
            <link rel="stylesheet" href="styles.css">
                <style>
                    table,th,td {
                        border: 1px solid black;
                    }
                     
                </style>
        </head>
    <body>
        <h1> 
        
        <a href="/">Home</a> 
        &nbsp
        <a href="/newtask">Add new Task</a> 

        </h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Due Date</th>
                <th>Description</th>
            </tr>
            <% for (var i = 0; i < task.length; i++) { %>
            <tr>
            <td> <%= task[i].taskname %> </td>
            <td> <%= task[i].taskdue %> </td>
            <td> <%= task[i].taskdesc %> </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>