<html>
        <head>
                <link rel="stylesheet" href="styles.css">
        </head>
    <body>
        <h1>
        <a href="/"> Home </a>
        &nbsp  
        <a href="/listtasks">List Tasks</a>
        </h1>
        <h2>
        <form action="/newtask" method="POST">
        Task Name <input type = "text" name = "taskname" />
        <br>
        Task Due <input type = "string" name = "taskdue" />
        <br>
        Task Desc <input type = "text" name = "taskdesc" />
        </h2>
        <button>submit</button>
        </form>
    </body>
</html>